/* REGISTER PAGE ONLY */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #f1effa;
    color: #1f2330;
}

/* NAVBAR */
.navbar {
    width: 100%;
    background: rgba(255,255,255,0.85);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid #d7d2f3;
    padding: 16px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .brand {
    font-size: 23px;
    font-weight: 800;
    color: #4c1d95;
}

.navbar .menu a {
    padding: 7px 20px;
    border-radius: 22px;
    margin-left: 12px;
    text-decoration: none;
    font-size: 15px;
    color: #4b5563;
    background: #fff;
    border: 1px solid #ddd;
}

.navbar .menu a.active {
    background: linear-gradient(135deg,#7c3aed,#5b21b6);
    color: white;
    border: none;
}

/* LAYOUT */
.page {
    width: 92%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    gap: 45px;
}

.left-img-area {
    flex: 1;
    min-height: 420px;
    background: #e9e4fb;
    border-radius: 18px;
    border: 2px dashed #c4b5fd;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FORM */
.form-box {
    flex: 1;
    max-width: 420px;
}

.form-title {
    font-size: 38px;
    font-weight: 800;
    color: #4c1d95;
    margin-bottom: 30px;
}

.input-row {
    display: flex;
    gap: 12px;
}

.input-field {
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 16px;
    border-radius: 16px;
    border: 1px solid #d4ccff;
    background: #f6f5ff;
}

.primary-btn {
    width: 100%;
    padding: 15px;
    background: linear-gradient(135deg,#8b5cf6,#6d28d9);
    color: #fff;
    border-radius: 20px;
    border: none;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}
.warn {
    display: none;
    color: #d40000;
    font-size: 13px;
    margin-top: 4px;
}
